html {
    background: #222;
    -webkit-font-smoothing: antialiased;
}

body {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.06);
    color: #545454;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    padding: 0em 2em 4em;
}

codeSnippet{
    
}

h1, h2, h3, h4, h5, h6 {
    color: #e0e0e0;
    font-weight: 600;
    line-height: 1.3;
         text-align: left;

     
}

h2 {
    margin-top: 1.3em;
     text-align: left;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
    text-align: center;
}

li h1 {
    display: block;
    padding-right: 1em;
}

li a {
    display: block;
    padding: 1px 10px;
    text-decoration: none;
    transform: translateY(0);
}

li a h1 {
     display: block;
    padding-right: 1em;
     padding-left: 1em;

     display: block;
    text-decoration: none;
}

li a:hover {
    background-color: #555;
    color: white;
}

Main {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    display: flex;

}

.About{
        grid-template-columns: repeat(2, 1fr);

}

.NimStyle{
    object-fit: cover;
    object-position: 100% 0;
    width: 100%;
    height: 437px;
}

div {
    align-self: center;
    justify-self: center;
    width: 45%;
    color: white;
     padding: 1em;
}

b, strong {
    font-weight: 600;
}
